beautifulsoup4~=4.9
biopython~=1.78
boto3
click
-e ./module
ipython~=7.18
joblib
matplotlib~=3.3
numpy~=1.19
pandas~=1.1
PyYAML
regex~=2020.10
requests
scikit-learn
scipy
tensorboard
tokenizers
torch
tqdm
transformers
urllib3
wget
